.w3-theme-l5 {color:#000 !important; background-color:#ebebfd !important}
.w3-theme-l4 {color:#000 !important; background-color:#bbbdf7 !important}
.w3-theme-l3 {color:#fff !important; background-color:#787cef !important}
.w3-theme-l2 {color:#fff !important; background-color:#343ae7 !important}
.w3-theme-l1 {color:#fff !important; background-color:#161bba !important}
.w3-theme-d1 {color:#fff !important; background-color:#0d106b !important}
.w3-theme-d2 {color:#fff !important; background-color:#0b0e5f !important}
.w3-theme-d3 {color:#fff !important; background-color:#0a0c53 !important}
.w3-theme-d4 {color:#fff !important; background-color:#080a47 !important}
.w3-theme-d5 {color:#fff !important; background-color:#07093b !important}

.w3-theme-light {color:#000 !important; background-color:#ebebfd !important}
.w3-theme-dark {color:#fff !important; background-color:#07093b !important}
.w3-theme-action {color:#fff !important; background-color:#07093b !important}

.w3-theme {color:#fff !important; background-color:#0e1178 !important}
.w3-text-theme {color:#0e1178 !important}
.w3-border-theme {border-color:#0e1178 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#0e1178 !important}
.w3-hover-text-theme:hover {color:#0e1178 !important}
.w3-hover-border-theme:hover {border-color:#0e1178 !important}