.w3-theme-l5 {color:#000 !important; background-color:#ffeaee !important}
.w3-theme-l4 {color:#000 !important; background-color:#ffbbc5 !important}
.w3-theme-l3 {color:#fff !important; background-color:#ff768b !important}
.w3-theme-l2 {color:#fff !important; background-color:#ff3251 !important}
.w3-theme-l1 {color:#fff !important; background-color:#ed0023 !important}
.w3-theme-d1 {color:#fff !important; background-color:#970017 !important}
.w3-theme-d2 {color:#fff !important; background-color:#870014 !important}
.w3-theme-d3 {color:#fff !important; background-color:#760012 !important}
.w3-theme-d4 {color:#fff !important; background-color:#65000f !important}
.w3-theme-d5 {color:#fff !important; background-color:#54000d !important}

.w3-theme-light {color:#000 !important; background-color:#ffeaee !important}
.w3-theme-dark {color:#fff !important; background-color:#54000d !important}
.w3-theme-action {color:#fff !important; background-color:#54000d !important}

.w3-theme {color:#fff !important; background-color:#a6001a !important}
.w3-text-theme {color:#a6001a !important}
.w3-border-theme {border-color:#a6001a !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#a6001a !important}
.w3-hover-text-theme:hover {color:#a6001a !important}
.w3-hover-border-theme:hover {border-color:#a6001a !important}