.w3-theme-l5 {color:#000 !important; background-color:#e8f5ff !important}
.w3-theme-l4 {color:#000 !important; background-color:#b3deff !important}
.w3-theme-l3 {color:#000 !important; background-color:#66bdff !important}
.w3-theme-l2 {color:#fff !important; background-color:#1a9cff !important}
.w3-theme-l1 {color:#fff !important; background-color:#0074cc !important}
.w3-theme-d1 {color:#fff !important; background-color:#004173 !important}
.w3-theme-d2 {color:#fff !important; background-color:#003a66 !important}
.w3-theme-d3 {color:#fff !important; background-color:#003359 !important}
.w3-theme-d4 {color:#fff !important; background-color:#002b4d !important}
.w3-theme-d5 {color:#fff !important; background-color:#002440 !important}

.w3-theme-light {color:#000 !important; background-color:#e8f5ff !important}
.w3-theme-dark {color:#fff !important; background-color:#002440 !important}
.w3-theme-action {color:#fff !important; background-color:#002440 !important}

.w3-theme {color:#fff !important; background-color:#00477e !important}
.w3-text-theme {color:#00477e !important}
.w3-border-theme {border-color:#00477e !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#00477e !important}
.w3-hover-text-theme:hover {color:#00477e !important}
.w3-hover-border-theme:hover {border-color:#00477e !important}