.w3-theme-l5 {color:#000 !important; background-color:#e5fff6 !important}
.w3-theme-l4 {color:#000 !important; background-color:#a8ffe2 !important}
.w3-theme-l3 {color:#000 !important; background-color:#52ffc5 !important}
.w3-theme-l2 {color:#000 !important; background-color:#00faa7 !important}
.w3-theme-l1 {color:#fff !important; background-color:#00a36d !important}
.w3-theme-d1 {color:#fff !important; background-color:#00452e !important}
.w3-theme-d2 {color:#fff !important; background-color:#003d29 !important}
.w3-theme-d3 {color:#fff !important; background-color:#003624 !important}
.w3-theme-d4 {color:#fff !important; background-color:#002e1f !important}
.w3-theme-d5 {color:#fff !important; background-color:#002619 !important}

.w3-theme-light {color:#000 !important; background-color:#e5fff6 !important}
.w3-theme-dark {color:#fff !important; background-color:#002619 !important}
.w3-theme-action {color:#fff !important; background-color:#002619 !important}

.w3-theme {color:#fff !important; background-color:#004d33 !important}
.w3-text-theme {color:#004d33 !important}
.w3-border-theme {border-color:#004d33 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#004d33 !important}
.w3-hover-text-theme:hover {color:#004d33 !important}
.w3-hover-border-theme:hover {border-color:#004d33 !important}