.w3-theme-l5 {color:#000 !important; background-color:#fdeff3 !important}
.w3-theme-l4 {color:#000 !important; background-color:#f7c9d6 !important}
.w3-theme-l3 {color:#000 !important; background-color:#f094ac !important}
.w3-theme-l2 {color:#fff !important; background-color:#e85e83 !important}
.w3-theme-l1 {color:#fff !important; background-color:#e0295a !important}
.w3-theme-d1 {color:#fff !important; background-color:#a1173c !important}
.w3-theme-d2 {color:#fff !important; background-color:#8f1435 !important}
.w3-theme-d3 {color:#fff !important; background-color:#7d122e !important}
.w3-theme-d4 {color:#fff !important; background-color:#6b0f28 !important}
.w3-theme-d5 {color:#fff !important; background-color:#590d21 !important}

.w3-theme-light {color:#000 !important; background-color:#fdeff3 !important}
.w3-theme-dark {color:#fff !important; background-color:#590d21 !important}
.w3-theme-action {color:#fff !important; background-color:#590d21 !important}

.w3-theme {color:#fff !important; background-color:#b31942 !important}
.w3-text-theme {color:#b31942 !important}
.w3-border-theme {border-color:#b31942 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#b31942 !important}
.w3-hover-text-theme:hover {color:#b31942 !important}
.w3-hover-border-theme:hover {border-color:#b31942 !important}