.w3-theme-l5 {color:#000 !important; background-color:#e9f2fd !important}
.w3-theme-l4 {color:#000 !important; background-color:#b6d3f7 !important}
.w3-theme-l3 {color:#fff !important; background-color:#6da8f0 !important}
.w3-theme-l2 {color:#fff !important; background-color:#247ce8 !important}
.w3-theme-l1 {color:#fff !important; background-color:#1256aa !important}
.w3-theme-d1 {color:#fff !important; background-color:#092c57 !important}
.w3-theme-d2 {color:#fff !important; background-color:#08274e !important}
.w3-theme-d3 {color:#fff !important; background-color:#072244 !important}
.w3-theme-d4 {color:#fff !important; background-color:#061e3a !important}
.w3-theme-d5 {color:#fff !important; background-color:#051930 !important}

.w3-theme-light {color:#000 !important; background-color:#e9f2fd !important}
.w3-theme-dark {color:#fff !important; background-color:#051930 !important}
.w3-theme-action {color:#fff !important; background-color:#051930 !important}

.w3-theme {color:#fff !important; background-color:#0a3161 !important}
.w3-text-theme {color:#0a3161 !important}
.w3-border-theme {border-color:#0a3161 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#0a3161 !important}
.w3-hover-text-theme:hover {color:#0a3161 !important}
.w3-hover-border-theme:hover {border-color:#0a3161 !important}