.w3-theme-l5 {color:#000 !important; background-color:#fff4f0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fed9cd !important}
.w3-theme-l3 {color:#000 !important; background-color:#feb39a !important}
.w3-theme-l2 {color:#000 !important; background-color:#fd8d68 !important}
.w3-theme-l1 {color:#fff !important; background-color:#fd6735 !important}
.w3-theme-d1 {color:#fff !important; background-color:#e33b02 !important}
.w3-theme-d2 {color:#fff !important; background-color:#ca3402 !important}
.w3-theme-d3 {color:#fff !important; background-color:#b12e02 !important}
.w3-theme-d4 {color:#fff !important; background-color:#972702 !important}
.w3-theme-d5 {color:#fff !important; background-color:#7e2101 !important}

.w3-theme-light {color:#000 !important; background-color:#fff4f0 !important}
.w3-theme-dark {color:#fff !important; background-color:#7e2101 !important}
.w3-theme-action {color:#fff !important; background-color:#7e2101 !important}

.w3-theme {color:#fff !important; background-color:#fb4202 !important}
.w3-text-theme {color:#fb4202 !important}
.w3-border-theme {border-color:#fb4202 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#fb4202 !important}
.w3-hover-text-theme:hover {color:#fb4202 !important}
.w3-hover-border-theme:hover {border-color:#fb4202 !important}