<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
{{- $foot_px := default "34px" ($.Site.Params.FooterPixels) }}
<div id="allNonFooter" style="min-height: calc(100vh - {{ $foot_px }})">
{{ partial "header.html" . }}
<main>
{{ block "main" . }}{{- end }}
</main>
</div>
{{ partial "footer.html" . }}
</body>
</html>