{{ define "main" }}
<div class="w3-container w3-auto">

{{ with .Param "skipTitle"  }}
{{ else }}
<h1 class="w3-text-theme" style="text-shadow:1px 1px 0 #444">{{ $.Title }}</h1>
{{ end }}

{{ if and (eq .Type "posts") (.PublishDate) }}
<em>{{ .PublishDate.Format "January 2, 2006" }}</em>
{{ end }}

{{ .Content }}

<p>
{{ if .Param "authors" }}

{{ partial "list-taxonomy-terms.html" (dict "parent" "authors" "terms" (.Param "authors") "label" "Written by:") }}

{{ end }}
</p>

<p>
{{ if .Param "tags" }}

{{ partial "list-taxonomy-terms.html" (dict "parent" "tags" "terms" (.Param "tags") "label" "Tags:") }}

{{ end }}
</p>

</div>
{{ end }}
