<footer>
  {{ with .Site.Params.RelatedMenu }}
  {{- $relatedMenuTitle := default "Related Links:" ($.Site.Params.RelatedMenuTitle) }}
  <div class="w3-container w3-center w3-theme">
    <div class="w3-bar w3-center w3-auto">
      <span class="w3-bar-item">{{ $relatedMenuTitle }}</span>
      {{ range . }}
      <a href="{{ .url }}" class="w3-bar-item">{{ .name }}</a>
      {{ end }}
    </div>
  </div>
  {{ end }}
  <div class="w3-container w3-center w3-theme-d2">
    <div class="w3-auto w3-padding w3-small">
      {{ .Site.Copyright }}
    </div>
  </div>
</footer>