{{- $headerColor := default "w3-white" ($.Site.Params.HeaderColor) }}
{{- $headerClass := default "w3-auto" ($.Site.Params.HeaderClass) }}
{{- $headerImageClass := default "w3-image" ($.Site.Params.HeaderImageClass) }}
{{- $headerImageText := default "" ($.Site.Params.HeaderText) }}
<header class="w3-container {{ $headerColor }}">
    <div class="w3-row w3-text-theme {{ $headerClass }}">
        <a href="/">
        {{ if ($.Site.Params.HeaderImage) -}}
        <img src="{{ $.Site.Params.HeaderImage }}" class="{{ $headerImageClass }}" alt="{{ $headerImageText }}" />
        {{ else if ($.Site.Params.HeaderText) -}}
        <h1>{{ $.Site.Params.HeaderText }}</h1>
        {{ else -}}
        <span id="some kind of header should go here"></span>
        {{ end -}}
        </a>
    </div>
</header>
<script>
function toggleMenu(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    } else {
    x.className = x.className.replace(" w3-show", "");
    }
}
</script>
<div class="w3-bar w3-theme">
    <div class="w3-auto">
        <div class="w3-left">
        {{ with .Site.Menus.home }}
        <div class="w3-bar w3-hide-small">
            {{ $currentPage := . -}}
            {{ range sort . "Weight" }}
                {{ partial "menu-desktop.html" . }}
            {{ end -}}
        </div>
        {{ else }}
        {{- $homeMenuTitle := default "Home" ($.Site.Params.HomeMenuTitle) }}
        <a href="/" class="w3-bar-item w3-button">{{ $homeMenuTitle }}</a>
        {{ end }}
        </div>
        <div class="w3-right">
        {{ $currentPage := . -}}
        {{ range .Site.Menus.main }}
            {{ partial "menu-desktop.html" . }}
        {{ end -}}
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="toggleMenu('mobileMenu')">&#9776;</a>
        </div>

        <div id="mobileMenu" class="w3-bar w3-hide w3-hide-large w3-hide-medium">
        {{/* this empty anchor is silly, but prevents :first-child on the first menu dropdown which messed up our w3css menu formatting in mobile */}}
        <a href="" style="display: none;"></a>
        {{ with .Site.Menus.home }}
        {{ $currentPage := . -}}
        {{ range sort . "Weight" }}
            {{ partial "menu-mobile.html" . }}
        {{ end -}}
        {{ end }}
        {{ $currentPage := . -}}
        {{ range .Site.Menus.main }}
            {{ partial "menu-mobile.html" . }}
        {{ end }}
        </div>
    </div>
</div>