<head>
  <meta charset="UTF-8">
  <title>{{ block "title" . }}{{ if .Title }}{{ .Title }} | {{ end }}{{end }}{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/w3.css">
{{- $theme := default "black" ($.Site.Params.Theme) }}
  <link rel="stylesheet" href="/css/{{ $theme }}-theme.css">
  <link rel="stylesheet" href="/css/w3-colors-highway.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/jpg" href="/favicon.jpg" sizes="16x16">  
  <link rel="icon" type="image/jpg" href="/favicon.jpg" sizes="32x32">  
  <link rel="icon" type="image/jpg" href="/favicon.jpg" sizes="96x96"> 
</head>
