            {{ if .HasChildren -}}
            <div class="w3-dropdown-hover w3-mobile">
                <button class="w3-button">{{ .Name }} <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-theme-d2 w3-bar-block w3-mobile">
                    {{ range sort .Children "Weight" -}}
                    <a href="{{ .URL }}" class="w3-bar-item w3-button w3-mobile">{{ .Name }}</a>
                    {{ end }}
                </div>
            </div>
            {{ else -}}
            <a href="{{ .URL }}" class="w3-bar-item w3-button w3-mobile">{{ .Name }}</a>
            {{ end }}