            {{ if .HasChildren -}}
            <div class="w3-dropdown-click">
                <button class="w3-button w3-hide-small" onclick="toggleMenu({{ .Identifier }})">{{ .Name }} <i class="fa fa-caret-down"></i></button>
                <div id="{{ .Identifier }}" class="w3-dropdown-content w3-theme-d2 w3-bar-block w3-card-4 w3-hide-small">
                    {{ range sort .Children "Weight" -}}
                    <a href="{{ .URL }}" class="w3-bar-item w3-button">{{ .Name }}</a>
                    {{ end }}
                </div>
            </div>
            {{ else -}}
            <a href="{{ .URL }}" class="w3-bar-item w3-button w3-hide-small">{{ .Name }}</a>
            {{ end }}