{{ $_hugo_config := `{ "version": 1 }` }}
{{ $class := default "" (.Get "class") -}}
{{ $alt := default "" (.Get "alt") -}}
{{ $width := default "" "" -}}
{{ if (.Get "width") -}}
{{ $width = (print "width:100%;max-width:" (.Get "width") "px;") | safeCSS -}}
{{ end -}}

{{- if (.Get "src") -}}
{{ with (.Get "cardClass")}}
<div class="{{ . }}">
{{ end -}}
<img src="{{ .Get "src" }}" class="w3-image {{ $class }}" alt="{{ $alt }}" style="{{ $width }}" />
{{ with (.Get "caption")}}
<h6 class="w3-center">{{ . }}</h6>
{{ end -}}
{{ if (.Get "cardClass")}}
</div>
{{ end -}}
{{ end -}}